$breakpoints: (
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
);

$typography-scale: (
  "sm": (
    font-size: 1.4rem,
    line-height: 1,
  ),
  "md": (
    font-size: 1.6rem,
    line-height: 1.5,
  ),
  "lg": (
    font-size: 1.8rem,
    line-height: 1.4,
  ),
  "xl": (
    font-size: 2.5rem,
    line-height: 1.5,
  ),
  "xxl": (
    font-size: 3rem,
    line-height: 1.5,
  ),
  "xxxl": (
    font-size: 4rem,
    line-height: 1.5,
  ),
  "title-sm": (
    font-size: 5rem,
    line-height: 1,
  ),
  "title-md": (
    font-size: 6rem,
    line-height: 0.8,
  ),
  "title-lrg": (
    font-size: 7rem,
    line-height: 0.8,
  ),
  "title-xl": (
    font-size: 12rem,
    line-height: 0.8,
  ),
);
