:root {
  --primary-colour: #000000;
  --secondary-colour: #cccccc;
  --tertiary-colour: #8f8f8f;
  --white: #ffffff;
  --app-body-font: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --app-width: 1000px;
  --app-side-padding: 3rem;
}
