:root {
  --primary-colour: #000000;
  --primary-font-colour: #f48400;
  --secondary-colour: #cccccc;
  --tertiary-colour: #8f8f8f;
  --white: #ffffff;
  --app-body-font-color: #d7d4d4;
  --app-width: 1000px;
  --app-side-padding: 3rem;
}
