@font-face {
  src: url("./Archivo_Condensed-BlackItalic.ttf") format("truetype"),
    url("./Archivo_Condensed-BlackItalic.woff") format("woff");

  font-family: "Archivo-BlackItalic";
  font-weight: normal;
}

@font-face {
  src: url("./Archivo-Bold.ttf") format("truetype"),
    url("./Archivo-Bold.woff") format("woff");

  font-family: "Archivo-Bold";
  font-weight: normal;
}

@font-face {
  src: url("./Archivo-Medium.ttf") format("truetype"),
    url("./Archivo-Medium.woff") format("woff");

  font-family: "Archivo-Medium";
  font-weight: normal;
}
