html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  background-color: #000000;
  font-size: 1.6rem;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #cccccc;
  height: 100%;
  margin: 0.5rem;
}

html,
body {
  min-height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 800px;
  min-height: 70vh;
}
